<ion-header>
  <ion-navbar class="headerToolbar">
    <ion-title>
      <span style="text-align: center;color:#ffffff">{{getSettingParamValue('titleCalculate', 'txt')}}</span> 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-item-group>
      <ion-item-divider style="font-size: 18px; font-weight:bold; color:#fff; background-color: #c4d3fb;">
        <ion-thumbnail item-left>
          <img *ngIf="form=='www'" src="assets/www.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='air'" src="assets/air.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='tech'" src="assets/tech.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='force'" src="assets/force.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='vav'" src="assets/vav.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='park'" src="assets/park.png" style="width:auto;height:50px;" />
          <img *ngIf="form=='screw'" src="assets/screw.png" style="width:auto;height:50px;" />
        </ion-thumbnail>
        <ion-label>{{getSettingParamValue('headerCalculateInput', 'txt')}}</ion-label>
      </ion-item-divider>
      <ion-item (click)="toggleDetails(Motor, 'Motor')" style="padding-left: 0px;">
        <ion-label style="padding-left: 16px;">{{getSettingParamValue('MotorTitle', 'txt')}}</ion-label>
        <ion-icon color="primary" item-right [name]="Motor.icon"></ion-icon>
      </ion-item>
      <ion-item *ngIf="Motor.showDetails=='1'" style="background-color: #e4e4e4;">
         <ion-label floating>{{getSettingParamValue('MotorEff', 'txt')}}</ion-label>
         <ion-input type="number" [(ngModel)]="Motor.Eff"></ion-input>
      </ion-item>
      <ion-item *ngIf="Motor.showDetails=='1'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MotorPow', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Motor.Pow"></ion-input>
      </ion-item>
      <ion-item *ngIf="Motor.showDetails=='1'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MotorAver', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Motor.Aver"></ion-input>
      </ion-item>
       <ion-item  *ngIf="Motor.showDetails=='1'" style="background-color: #e4e4e4;">
        <ion-label>{{getSettingParamValue('DutyCycle', 'txt')}}</ion-label> 
        <button ion-button icon-only clear (click)="showDuty($event)" item-right style="margin-right:4px;">
          <ion-icon name="ios-cog" style="font-size:28px;"></ion-icon>
        </button>
      </ion-item>
      <ion-item (click)="toggleDetails(Operation, 'Operation')" style="padding-left: 0px;">
        <ion-label style="padding-left: 16px;">{{getSettingParamValue('OperationTitle', 'txt')}}</ion-label>
        <ion-icon color="primary" item-right [name]="Operation.icon"></ion-icon>
      </ion-item>

      <!--www--> <!--tech-->
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('PumpEff', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.PumpEff"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NeedPress', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NeedPress"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('PressBefore', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.PressBefore"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NominalFlow', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NominalFlow"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MaxPress', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.MaxPress"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MinFlow', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.MinFlow"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MinPress', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.MinPress"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && (form=='www' || form=='tech')" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('MaxFlow', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.MaxFlow"></ion-input>
      </ion-item>

      <!--air-->
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotors', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotors"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsWinterDay', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsWinterDay"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsWinterNight', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsWinterNight"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsSummerDay', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsSummerDay"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsSummerNight', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsSummerNight"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsSpringAutumnDay', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsSpringAutumnDay"></ion-input>
      </ion-item>
      <ion-item *ngIf="Operation.showDetails=='1' && form=='air'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('NumOfMotorsSpringAutumnNight', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.NumOfMotorsSpringAutumnNight"></ion-input>
      </ion-item>

      <!--tech-->
      <ion-item *ngIf="Operation.showDetails=='1' && form=='tech'" style="background-color: #e4e4e4;">
        <ion-label floating>{{getSettingParamValue('DensinyPump', 'txt')}}</ion-label>
        <ion-input type="number" [(ngModel)]="Operation.DensinyPump"></ion-input>
      </ion-item>


      <ion-item (click)="toggleDetails(Commertial, 'Commertial')" style="padding-left: 0px;">
           <ion-label style="padding-left: 16px;">{{getSettingParamValue('CommertialTitle', 'txt')}}</ion-label>
          <ion-icon color="primary" item-right [name]="Commertial.icon"></ion-icon>
      </ion-item>
      <!--
      <ion-item *ngIf="Commertial.showDetails=='1'" style="background-color: #e4e4e4;">
          <ion-label floating>{{getSettingParamValue('AccessEquipPrice', 'txt')}}</ion-label>
          <ion-input type="number" [(ngModel)]="Commertial.AccessEquipPrice"></ion-input>
       </ion-item>
        <ion-item *ngIf="Commertial.showDetails=='1'" style="background-color: #e4e4e4;">
          <ion-label floating>{{getSettingParamValue('InstallPrice', 'txt')}}</ion-label>
          <ion-input type="number" [(ngModel)]="Commertial.InstallPrice"></ion-input>
       </ion-item>
       -->
        <ion-item *ngIf="Commertial.showDetails=='1'" style="background-color: #e4e4e4;">
          <ion-label floating>{{getSettingParamValue('EnergPrice', 'txt')}}</ion-label>
          <ion-input type="number" [(ngModel)]="Commertial.EnergPrice"></ion-input>
       </ion-item>
        <ion-item *ngIf="Commertial.showDetails=='1' && lang=='ru'" style="background-color: #e4e4e4;">
          <ion-label floating>{{getSettingParamValue('CoursePrice', 'txt')}}</ion-label>
          <ion-input type="number" [(ngModel)]="Commertial.CoursePrice"></ion-input>
       </ion-item>
       
    </ion-item-group>
    
  </ion-content>

  <ion-footer no-border>
  <ion-navbar class="footerToolbar">
    <button ion-button block item-right icon-left (click)="calc()">
        <ion-icon name="ios-calculator" style="color:white;font-size:26px;"></ion-icon>
        <span *ngIf="lang=='en'" style="font-weight: bold;color:white">Calculate</span>
        <span *ngIf="lang=='ru'" style="font-weight: bold;color:white">Рассчитать</span>
    </button>
  </ion-navbar>

</ion-footer>