page-home {

    .content{
        /*height: 100%;
        width: 100%;
        background-color: #ffffff;
        background-image: -webkit-radial-gradient(#ffffff, #999999);
        background-image: -moz-radial-gradient(#ffffff, #999999);
        background-image: -o-radial-gradient(#ffffff, #999999);
        background-image: radial-gradient(#ffffff, #999999);*/
        background-color:  #f0f0f0  !important
    }

    .headerToolbar .toolbar-background {
        background-color:  #D0050B  !important;
    }

}
