
<ion-header>
  <ion-navbar class="headerToolbar">
    <ion-title>
      <span style="text-align: center;color:#ffffff">{{settings.DutyCycleTitle}}</span> 
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-grid class="grid-content" [ngClass]="{ 'hide': initHide }">
  <ion-row class="header-grid-content" justify-content-center>
    <ion-col *ngIf="form==='air'" col-1>{{settings.Num}}</ion-col>
    <ion-col *ngIf="form!=='air'" col-2>{{settings.Num}}</ion-col>
    <ion-col *ngIf="form==='air'" col-3>{{settings.Time}}</ion-col>
    <ion-col *ngIf="form!=='air'" col-4>{{settings.Time}}</ion-col>
    <ion-col col-4 *ngIf="form!=='air'">{{settings.Perf}}</ion-col>
    <ion-col col-2 *ngIf="form==='air'">
      <span *ngIf="lang==='en'">Season</span>
      <span *ngIf="lang==='ru'">Сезон</span>
    </ion-col>
     <ion-col col-2 *ngIf="form==='air'">
     {{settings.Day}}
    </ion-col>
     <ion-col col2 *ngIf="form==='air'">
     {{settings.Night}}
    </ion-col>
    <ion-col col-2>
     &nbsp;
    </ion-col>
  </ion-row>
  <ion-row class="body-grid-content" justify-content-center *ngFor="let duty of dutyCycleData">
    <ion-col *ngIf="form==='air'" col-1 class="span_center"><span>{{duty.num}}</span></ion-col>
    <ion-col *ngIf="form!=='air'" col-2 class="span_center"><span>{{duty.num}}</span></ion-col>
    <ion-col *ngIf="form==='air'" class="span_center" col-3>{{duty.time}}</ion-col>
    <ion-col *ngIf="form!=='air'" class="span_center" col-4>{{duty.time}}</ion-col>
    <ion-col col-4 class="span_center" *ngIf="form!=='air'"><span>{{duty.perfomance}}</span></ion-col>
    <ion-col col-2 class="span_center" *ngIf="form==='air'">{{getSeason(duty)}}</ion-col>
    <ion-col col-2 class="span_center" *ngIf="form==='air'">{{duty.day}}</ion-col>
    <ion-col col-2 class="span_center" *ngIf="form==='air'">{{duty.night}}</ion-col>
     <ion-col col-2>
      <button ion-button clear (click)='deleteRow(duty.id)' style="width:100%;margin-left:0px;">
        <ion-icon name="ios-remove-circle" style="color:red;font-size: 24px;"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="insert-grid-content" justify-content-center *ngIf="isDutyAdding">
    <ion-col col-6>
      <ion-item *ngIf="form==='air'">
        <ion-label *ngIf="lang==='en'" style="margin:0;">Season</ion-label>
        <ion-label *ngIf="lang==='ru'" style="margin:0;">Сезон</ion-label>
        <ion-select [(ngModel)]="season" style="padding:0;">
          <ion-option *ngFor="let seas of seasons" value="{{seas.id}}">{{seas.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="margin:0;">{{settings.Time}}</ion-label>
        <ion-input type="number" [disabled]="this.form==='air'" [(ngModel)]="time" style="background-color: lavender;width:calc(100% - 2px); margin-top: 0px;margin-left: 1px;"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item *ngIf="this.form!=='air'">
        <ion-label style="margin:0;">{{settings.Perf}}</ion-label>
        <ion-range min="10" max="100" step="10" pin="true" snaps="true" color="danger" [(ngModel)]="perfomance" style="padding:0;">
         <ion-label range-left>10</ion-label>
         <ion-label range-right>100</ion-label>
        </ion-range>
      </ion-item>
      <ion-item *ngIf="this.form==='air'"> 
        <ion-label style="margin:0;">{{settings.Day}}</ion-label>
        <ion-range min="10" max="100" step="10" pin="true" snaps="true" color="danger" [(ngModel)]="day" style="padding:0;">
         <ion-label range-left>10</ion-label>
         <ion-label range-right>100</ion-label>
        </ion-range>
      </ion-item>
      <ion-item *ngIf="this.form ==='air'">
        <ion-label style="margin:0;">{{settings.Night}}</ion-label>
        <ion-range min="10" max="100" step="10" pin="true" snaps="true" color="danger" [(ngModel)]="night" style="padding:0;">
         <ion-label range-left>10</ion-label>
         <ion-label range-right>100</ion-label>
        </ion-range>
      </ion-item>
    </ion-col>
  </ion-row>
 
</ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-navbar class="footerToolbar">
    <button ion-button block item-right icon-left  *ngIf="!isDutyAdding" (click)="addRow()">
        <ion-icon name="ios-add-circle" style="color:white;font-size:26px;"></ion-icon>
        <span *ngIf="lang=='en'" style="font-weight: bold;color:white">Add</span>
        <span *ngIf="lang=='ru'" style="font-weight: bold;color:white">Добавить</span>
    </button>
   
    <button ion-button block *ngIf="isDutyAdding" (click)="saveRow()" color="secondary" style="width:calc(50% - 2px);margin-right:5px;">
      <span *ngIf="lang=='en'" style="font-weight: bold;color:white">Save</span>
      <span *ngIf="lang=='ru'" style="font-weight: bold;color:white">Сохранить</span>
    </button>
    <button ion-button block *ngIf="isDutyAdding" (click)="cancelRow()" color="light" style="width:calc(50% - 2px);">
      <span *ngIf="lang=='en'" style="font-weight: bold;color:black">Cancel</span>
      <span *ngIf="lang=='ru'" style="font-weight: bold;color:black">Отменить</span>
    </button>

    <!--<ion-buttons end>
      <button (click)="close()">
          <span primary showWhen="ios">Cancel</span>
          <ion-icon name='close' showWhen="android"></ion-icon>
      </button>
    </ion-buttons>-->
  
  </ion-navbar>

</ion-footer>