page-dutycycle {
    
    .headerToolbar .toolbar-title, .headerToolbar .bar-button-default {
        color: #f0f0f0;
    }
    .headerToolbar .toolbar-background {
        background-color:  #D0050B  !important;
    }

   .footerToolbar .toolbar-background {
         background: transparent;
    }
    .footerToolbar .toolbar-content{
        display: inline-flex;
    }

    .grid-content{
        border:1px solid #a7a7a7;
        padding: 1px;
        border-radius: 2px;
    }

    .header-grid-content ion-col {
        background-color: #545454;
        border: 1px solid #fff;
        color: #fff;

    }
    .body-grid-content ion-col {
        background-color: #d4d4d4;
            border: 1px solid #fff;
            color: #000;
    }

   /*
    $popover-md-width: 90%;
    $popover-ios-width: 90%;
     .popover-md .popover-content {
        width: 90% !important;
    }*/
}

.alert-button-group {
    align-self:center;
}